@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
:root{
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-tercearia: #22D4FD;
    --cor-hover: #272727;

    --fonte-primaria: 'Krona One', sans-serif;;
    --fonte-secundaria: 'Montserrat', sans-serif;;
}
body{
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria)
}
.header{
    padding: 2% 0 0 15%;
}
.header__nav{
    display: flex;
    gap: 80px;
}
.header__nav__item{
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    color: var(--cor-tercearia);
    text-decoration: none;
}

.show{
    padding: 2% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}
.show__content{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.show__content__title{
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}
.titulo-destaque{
    color: var(--cor-tercearia);
}
.show__content__text{
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}
.show__links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}
.show__links__sub{
    font-family: var(--fonte-primaria);
    font-size: 1.5rem;
}
.show__links__link{
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-tercearia);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    padding: 21.5px 0px;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
}
.show__links__link:hover{
    background-color: #272727;
}
.show__img{
    width: 50%;
}
.footer{
    color: var(--cor-primaria);
    background-color: var(--cor-tercearia);
    padding: 0.5px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
}

@media (max-width:1200px){
    .header{
        padding: 10%;
    }
    .header__nav{
        justify-content: center;
    }
    .show{
        flex-direction: column-reverse;
        padding: 5%;
    }
    .show__content{
        width: auto;
    }


}